<footer>
			<div id="footer" class="atf-footer-area atf-cover-bg atf_attach_bg" data-background="{{ url_for('static', filename='img/bg/bg-2.jpg') }}">
				<div class="container">
					<div class="row pt-120 pb-95">
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeInLeft">
							<div class="atf-single-footer">
								<div class="footer-logo mb-25">
									<a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo/logo-white.png') }}" alt="ThemesFamily Logo"></a>
								</div>
								<p class="pe-lg-3 describtion">Sparknest helps businesses build scalable software, modern web applications, mobile apps, AI solutions, and eCommerce platforms that drive growth and innovation.</p>
								<ul class="atf-footer-social-icon mt-4">
									<li><a class="icon" href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a class="icon" href="#"><i class="fab fa-dribbble"></i></a></li>
									<li><a class="icon" href="#"><i class="fab fa-behance"></i></a></li>
									<li><a class="icon" href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 fadeInUp">
							<div class="atf-single-footer ps-lg-5">
								<h3 class="title">Company</h3>
								<ul class="atf-list-menu">
									<li><a href="about.html">About Us</a></li>
									<li><a href="team.html">Our Experts</a></li>
									<li><a href="blog.html">Latest News</a></li>
									<li><a href="privacy.html">Privacy Policy</a></li>
									<li><a href="terms.html">Terms Conditions</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 fadeInUp">
							<div class="atf-single-footer">
								<h3 class="title">Solutions</h3>
								<ul class="atf-list-menu">
									<li><a href="service.html">Web Development</a></li>
									<li><a href="service.html">Custom Software Development</a></li>
									<li><a href="service.html">AI Innovation Services</a></li>
									<li><a href="service.html">Shopify Development</a></li>
									<li><a href="service.html">Mobile Apps</a></li>
									<li><a href="service.html">Maintenance & Support</a></li>
									<li><a href="service.html">UI/UX Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-12 wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.5s">
							<div class="atf-single-footer">
								<h3 class="title">Contact Info</h3>
								<div class="atf-footer-widget-info mb-30 d-flex align-items-center">
									<span><i class="fa-light fa-phone-volume"></i></span>
									<div class="atf-footer-widget-info-phone">
										<a href="tel:61478715578">+61 478 715 578</a>
									</div>
								</div>
								<div class="atf-footer-widget-info mb-30 d-flex align-items-center">
									<span><i class="fa-light fa-id-card"></i></span>
									<div class="atf-footer-widget-info-phone">
										<p class="atf-footer-widget-abn">ABN: 77 693 072 141</p>
									</div>
								</div>
								<div class="atf-footer-widget-info mb-30 d-flex align-items-center">
									<span><i class="fa-light fa-location"></i></span>
									<div class="atf-footer-widget-info-location">
										<p>9/79 Brisbane St, Oxley Park NSW 2760</p>
									</div>
								</div>
								<div class="atf-footer-widget-mail d-flex align-items-center gap-4 grey-bg-7">
									<span><i class="fa-light fa-envelope"></i></span>
									<div class="atf-footer-widget-mailaddress">
										<p><a href="mailto:info@sparknest.com.au">info@sparknest.com.au</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="atf-copyright-text text-center">
								<p>All Rights Reserved. Crafted with <i class="fa-light fa-heart ms-1 me-1"></i> by <a class="link" href="{{ url_for('home') }}">SparkNext</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>


