<!DOCTYPE html>
<html lang="en">
	

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}sparknest{% endblock %}</title>
		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/favicon.png') }}" type="image/x-icon">
        
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/plugin.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme-spacing.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='fonts/all.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
	</head>

	<body>

		<div class="page-wrapper">
		
			<!-- START PRELOADER -->
			<div id="atf-preloader" class="atf-preloader is-active" aria-hidden="true">
				<div class="atf-preloader__inner">
					<!-- Spinner -->
					<div class="atf-preloader__spinner"></div>
					<!-- Brand Text -->
					<div class="atf-preloader__text">
						<span class="atf-preloader__letter" data-letter="S">S</span>
						<span class="atf-preloader__letter" data-letter="P">P</span>
						<span class="atf-preloader__letter" data-letter="A">A</span>
						<span class="atf-preloader__letter" data-letter="R">R</span>
						<span class="atf-preloader__letter" data-letter="K">K</span>
						<span class="atf-preloader__letter" data-letter="N">N</span>
						<span class="atf-preloader__letter" data-letter="E">E</span>
						<span class="atf-preloader__letter" data-letter="X">X</span>
						<span class="atf-preloader__letter" data-letter="T">T</span>
					</div>	
					<!-- Loading Text -->
					<p class="atf-preloader__loading text-center">Loading...</p>	
				</div>
				<!-- Overlay -->
				<div class="atf-preloader__overlay">
					<div class="atf-preloader__col atf-preloader__col--left">
						<div class="atf-preloader__bg"></div>
					</div>
					<div class="atf-preloader__col atf-preloader__col--left">
						<div class="atf-preloader__bg"></div>
					</div>
					<div class="atf-preloader__col atf-preloader__col--right">
						<div class="atf-preloader__bg"></div>
					</div>
					<div class="atf-preloader__col atf-preloader__col--right">
						<div class="atf-preloader__bg"></div>
					</div>
				</div>
			</div>
			<!-- END PRELOADER	 -->
			
			<!-- CURSOR BODY START -->
			<div class="cursor_body">
				<div class="cursor-in"></div>
				<div class="cursor-out"></div>
			</div>		  
			<!-- CURSOR BODY END -->
			
			<!-- Back to Top Start -->
			<a href="#" id="back_to_top" class="active"><i class="fa fa-long-arrow-up"></i></a>
			<!-- Back to Top End -->
			
			<!-- Start Hamburger area  -->
			<div class="atf-hamburger">
				<div class="atf-hamburger-wrapper">
					<div class="atf-hamburger-header d-flex justify-content-between align-items-center mb-50">
						<div class="atf-hamburger-logo">
						   <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt=""></a>
						</div>
						<div class="atf-hamburger-close">
						   <button class="atf-hamburger-close-toggle"><i class="fa fa-times"></i></button>
						</div>
					</div>
				 
					<div class="atf-hamburger-menu d-block d-xl-none mb-50">
						<nav></nav>
					</div>
				 

					<div class="atf-hamburger-info mb-50">
						<h3 class="atf-hamburger-sm-title">Contact Info</h3>
						<span><a href="tel:61478715578"><i class="fa fa-phone me-2"></i> +61 478 715 578</a></span>
						<span><a href="mailto:info@sparknest.com.au"><i class="fa fa-envelope me-2"></i> info@sparknest.com.au</a></span>
						<span><a href="#"><i class="fas fa-map-marker-alt me-2"></i> 123 Pitt Street, Sydney NSW 2000</a></span>
					</div>
				 
					<div class="atf-hamburger-social mb-50">
						<h3 class="atf-hamburger-sm-title">Follow Me</h3>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>

			<div class="atf-hamburger-overlay"></div>
			<!-- End Hamburger area  -->

			 {% include 'partials/header.html' %}
		
		<main>
            {% block content %}
            {% endblock %}
			
		</main>
		
        {% include 'partials/footer.html' %}
			
	</div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugin.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gsap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/form-contact.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
		
	</body>
</html>


